<div id="footer">
    <div class="footer_content">
        <div class="footer_logo col-lg-3">
            <img src="{{ url_for('static',filename='img/logo_footer.png') }}" alt="제주대학교 로고">
        </div>

        <div class="copyright col-lg-9">
            This work was supported by Institute for Information & communications Technology Promotion(IITP) grant funded by the Korea government(MSIT)
            (No.2017-0-00756, Development of interoperability and management technology of IoT system with heterogeneous ID mechanism), and this
            research was supported by the MSIT(Ministry of Science and ICT), Korea, under the ITRC(Information Technology Research Center) support
            program(IITP-2017-2014-0-00743) supervised by the IITP(Institute for Information & communications Technology Promotion),

        </div>
    </div>
</div>