{% extends 'layout.html' %}

{% block body %}
    <h2>Multi-Device/Multi-task Task Management and Mapping Toolkit</h2>
    <p>This project is web based toolbox which simulates and visualizes various advance techniques
    </p>
    <p>The following flowchart will help you get going with this toolbox.</p>
    <div class="flowchart well">
        <div class="box">Service Analysis (<a href="/addservice">Click Here</a>) </div>
        <div class="box">Tasks Management (<a href="/addtask">Click Here</a>) </div>
        <div class="box">Virtual Objects Management (<a href="/addtask">Click Here</a>) </div>
        <div class="box">Task Mapping(<a href="/map-tasks">Click Here</a>) </div>
        <div class="box">Task Scheduling(<a href="/edf">Click Here</a>) </div>
        <div class="box">Task Allocation and Deployment (<a href="/deploy-tasks">Click Here</a>) </div>
    </div>


{% endblock %}