<script type="text/javascript">
    var save_url_val = {{ url_for('_save_states') }}
</script>
{% extends 'layout.html' %}

{% block body %}
    <h2>Task Mapping</h2>
    <p>One one side there are tasks while on the other side there are virtual objects listed. The tasks can be mapped by dragging an arrow from tasks and drop it on any virtual object.
    </p>
    <p>The following flowchart will help you get going with this toolbox.</p>
    <div class="flowchart well">

        <div class="left tasks">
            <h3>Tasks</h3>

            {% for tk in tasks %}
            <div class="item tasks task-item" id="task-{{ tk.id }}">{{ tk.title }}</div>

        {% endfor %}
        </div>

        <div class="right vos">
        <h3>Virtual Objects</h3>
            {% for vo in vos %}
            <div class="item vo vo-item" id="vo-{{ vo.id }}">{{ vo.name }}</div>
        {% endfor %}


        </div>


    </div>
     <a href="/deploy-tasks" class="btn btn-primary">Save Configuration</a>


{% endblock %}